@model OperationSmurf.Models.Grade

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Grade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EventId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EventId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GradeEarned)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GradeEarned)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
