@model OperationSmurf.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Student Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Period1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Period1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Period2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Period2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Period3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Period3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Period4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Period4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Period5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Period5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Period6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Period6)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
